/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-genesis-enews-block input[type='text'] {
    font-family: Gilbert;
    font-size: 64px;
    color: inherit;
    background: inherit;
    border: 0;
}
// .wp-block-create-block-genesis-enews-block {
// 	border: 1px dotted #f00;
// }
// .wp-block-create-block-genesis-enews-block div div div div {
// 	outline: 3px solid green;
// 	width: 100%;
// }
